/* Navigation Bar */

h1 {
    background-color: #A2D9CE;
    color: white;
    float: left;
    font-family: 'Varela Round', 'Georgia';
    font-size: 50px;
    margin-left: 150px;
    padding: 10px 30px 15px 30px;
    text-shadow: 1px 1px 0 black;
}

li {
    display: inline;
    padding: 10px;
}

nav {
    background-color: white;
}

ul {
    float: right;
    margin-right: 150px;
    margin-top: 25px;
}

.navbar {
    background-color: white;
    height: 75px;
}

/* Body */

body {
    background-color: #EAEDED;
}

h3 {
    color: #1ABC9C;
    font-size: 25px;
    font-weight: bold;
}

hr {
    margin: 15px 0px;
}

.clearfix {
    border-radius: 5px;
    background-color: white;
    clear: both;
    padding: 30px;
    margin: 50px 200px;
}

/* index.html */

p {
    font-family: 'Nunito', 'Georgia';
    line-height: 25px;
}

#profile-photo {
    float: left;
    margin: 5px 15px 15px 0px;
}

/* portfolio.html */

h6 {
    background-color: #A2D9CE;
    bottom: 60px;
    color: white;
    font-family: 'Varela Round';
    height: 30px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 black;
    width: 250px;
}

td {
    padding-right: 50px;
}

/* .portfolio-image {
    display: flex;
} */

/* contact.html */

h4 {
    font-family: 'Nunito', 'Georgia';
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

textarea {
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
}

.submit-button {
    background-color: #A2D9CE;
    border-radius: 3px;
    font-family: 'Nunito', 'Georgia';
    padding: 5px 15px;
}

/* Footer */

footer {
    background-color: #566573;
    text-align: center;
}

h5 {
    padding: 10px 0px 20px 0px;
    color: white;
    font-family: 'Varela Round', 'Georgia';
    text-shadow: 1px 1px 0 black;
}

.footer-line {
    border-bottom: 10px solid #A2D9CE;
}